<div class="col-md-12">
    <div class="col-md-4 offset-4">
        <div id="Calculator" class="col-md-12">
            <h2> Lommeregner </h2>
            <input type="text" id="calculatorInput" class="form-control">
            <div class="row">
                <button onclick="javascript:addNumber(1)" class="btn btn-def btn-dark"> 1 </button>
                <button onclick="javascript:addNumber(2)" class="btn btn-def btn-dark"> 2 </button>
                <button onclick="javascript:addNumber(3)" class="btn btn-def btn-dark"> 3 </button>
            </div>
            <div class="row">
                <button onclick="javascript:addNumber(4)" class="btn btn-def btn-dark"> 4 </button>
                <button onclick="javascript:addNumber(5)" class="btn btn-def btn-dark"> 5 </button>
                <button onclick="javascript:addNumber(6)" class="btn btn-def btn-dark"> 6 </button>
            </div>
            <div class="row">
                <button onclick="javascript:addNumber(7)" class="btn btn-def btn-dark"> 7 </button>
                <button onclick="javascript:addNumber(8)" class="btn btn-def btn-dark"> 8 </button>
                <button onclick="javascript:addNumber(9)" class="btn btn-def btn-dark"> 9 </button>
            </div>
            <div class="row">
                <button onclick="javascript:addNumber('*')" class="btn btn-buttom btn-dark"> * </button>
                <button onclick="javascript:addNumber('+')" class="btn btn-buttom btn-dark"> + </button>
                <button onclick="javascript:addNumber('-')" class="btn btn-buttom btn-dark"> - </button>
                <button onclick="javascript:addNumber('/')"  class="btn btn-buttom btn-dark"> / </button>
            </div>
            <button onclick="javascript:sendRequest()" class="btn btn-primary btn-block"> Beregn </button>
        </div>
    </div>
</div>

<script>
    function addNumber(x) {
        var input = document.getElementById('calculatorInput');
        input.value = input.value + x;
    }

    function sendRequest() {
        var input = document.getElementById('calculatorInput');
        var statement = input.value;
        $.ajax({
            url: 'https://localhost:3002/Home/calculate',
            data: JSON.stringify({ statement: statement }),
            type: 'POST',
            contentType: false,
            processData: false,
            headers: { 
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            success: function(result) {
                input.value = result.statement
            },
            error: function(error) {
                alert("An error has occured");
            }
        });
    }
</script>

<style>
    .btn-def {
        width: 30%;
        margin: 5px;
    }

    .btn-buttom {
        width: 21.5%;
        margin: 5px;
    }

    #Calculator {
        border: solid 1px #f9f9f9;
        background-color: #f8f8f8;
        box-shadow: 10px 10px 5px #aaaaaa;
    }
</style>